#container{
    width: 50%;
    margin: 100px auto;
    border: 2px solid black;
    display: flex;
}
#container img{
    width: 100%;
}
#container .new1:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: all ease 10s;
    box-shadow: 5px 5px 15px cyan, -5px -5px 15px cyan;
}
#container:hover .new1{
display: none;
}
#container:hover .new{
    display: block;
}
#container .new:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: all ease 10s;
    box-shadow: 5px 5px 15px cyan, -5px -5px 15px cyan;
}


body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
body:hover h1{
    color: cyan;
    text-shadow: 5px 5px 15px white;
}
.new{
    display: none;
}
